.wrapper {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  gap: 8px;
  z-index: 20;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 6px 6px;
  border-radius: 18px;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  width: fit-content;
}

.badge {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #FFFFFF;
  line-height: 20px;
}

.name {
  font-weight: 700;
}

.remove {
  padding: 0 2px;
}