.wrapper {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  gap: 8px;
  z-index: 20;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 6px 6px;
  border-radius: 18px;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  width: fit-content;
}

.badge {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #FFFFFF;
  line-height: 20px;
}

.name {
  font-weight: 700;
}

.remove {
  padding: 0 2px;
}

/* 노선별 스타일 */


.line1 {
  background-color: #0052A4;
}

.line1 .badge {
  color: #0052A4;
}

.line2 {
  background-color: #00A84D;
}

.line2 .badge {
  color: #00A84D;
}

/* 3호선 */
.line3 {
  background-color: #EF7C1C;
}

.line3 .badge {
  color: #EF7C1C;
}

/* 4호선 */
.line4 {
  background-color: #00A5DE;
}

.line4 .badge {
  color: #00A5DE;
}

/* 5호선 */
.line5 {
  background-color: #996CAC;
}

.line5 .badge {
  color: #996CAC;
}

/* 6호선 */
.line6 {
  background-color: #CD7C2F;
}

.line6 .badge {
  color: #CD7C2F;
}

/* 7호선 */
.line7 {
  background-color: #747F00;
}

.line7 .badge {
  color: #747F00;
}

/* 8호선 */
.line8 {
  background-color: #E6186C;
}

.line8 .badge {
  color: #E6186C;
}

/* 9호선 */
.line9 {
  background-color: #BDB092;
}

.line9 .badge {
  color: #BDB092;
}