.input-wrapper {
  position: relative;
  display:flex;
}

.input-field {
  display:inline-block;
  width: 100%;
  height: 48px;
  padding: 0 44px 0 16px;
  border-radius: 12px;
  border: 1.5px solid #d1d5db;
  font-size: 15px;
  outline: none;
}

.input-field:focus {
  border-color: #3b82f6;
}

/* Input 내부 삭제 버튼 */
.button-input__remove {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  width: 28px;
  height: 28px;
  border-radius: 50%;

  border: none;
  background: #f3f4f6;
  color: #6b7280;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.button-input__remove:hover {
  background: #e5e7eb;
  color: #111827;
}
