.main {
  background: #f2f4f6;
  gap: 20px;
  height: 100vh;
  position:relative;
}

.main > div:first-child{
  z-index:10;
  position:absolute;
  left:20px;
  bottom:20px;
  border:5px dashed red;
}
.main > div:last-child{
  border:5px dashed blue;
}

/* @media (max-width: 1024px) {

  .main > div:last-child {
    order:1;
  }
  
  .main > div:first-child {
    order:2;
  }
} */