.main {
  background: #f2f4f6;
  gap: 20px;
  height: 100vh;
  position:relative;
}

/* .main > div:first-child{
  z-index:10;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 320px;
  box-sizing: border-box;
}
.main > div:last-child{
} */

/* @media (max-width: 360px){
  .main > div:first-child{
    width: calc(100% - 40px);
    min-width: auto;
  }
} */
/* @media (max-width: 1024px) {

  .main > div:last-child {
    order:1;
  }
  
  .main > div:first-child {
    order:2;
  }
} */